backend/.env*
frontend/.env*
backend/exports/
backend/dist/
backend/node_modules/
frontend/node_modules/
node_modules/
backend/firebase-service-account*.json
.env
*.json
!app.environment.json
!package.json
!package-lock.json
!tsconfig.json
node_modules
backend/exports
app.environment.json
